In [1]:
import pandas as pd
df = pd.DataFrame({'hours':(1, 1, 1, 2, 2, 2, 2, 2, 3, 3,
                         3, 4, 4, 4, 5, 5, 6, 7, 7, 8),
                 'score':(68, 76, 74, 80, 76, 78, 81, 84, 86, 83,
                         88, 85, 89, 94, 93, 94, 96, 89, 92, 97)})

#view first six rows of data frame
df.head()

   hours  score
0      1     68
1      1     76
2      1     74
3      2     80
4      2     76

In [2]:
import statsmodels.api as sm
#define response variable
y = df['score']
#define predictor variable
x = df[['hours']]
#add constant to predictor variables
x = sm.add_constant(x)
#fit linear regression model
model = sm.OLS(y, x).fit()


import numpy as np
#calculate sse
sse = np.sum((model.fittedvalues - df.score)**2)
print(sse)
#calculate ssr
ssr = np.sum((model.fittedvalues - df.score.mean())**2)
print(ssr)
#calculate sst
sst = ssr + sse
print(sst)

331.0748847926268
917.4751152073728
1248.5499999999997